
.formulario__label{
    font-size: 20px;
    display: block;
    font-weight: 700px;
    padding: 10px;
    cursor: pointer;
 }
 .formulario__grupo-input{
    position: relative;
 }
 .formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
 }
 .formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4 );
 }
 .formulario__input-error {
    font-size: 16px;
    margin-bottom: 0px;
    display: none; 
 }
 .formulario__input-error-activo{
    display: block;
 }
 
 .formulacion__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 1000000;
    font-size: 16px;
    opacity: 0; 
 }
 .formulario__radio{
    margin-right: 10px ;
    margin-left: 40px;
 }
 .formulario__mensaje{
    height: 50px;
    line-height: 50px;
    background: #bb2929;
    color: white;
    margin-top: 20px;
    padding: 0px 15px;
    border-radius: 3px;
    display: none;
 }
 .formulario__mensaje-activo{
    display: block;
 }
 .formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .formulario__btn{
    height: 50px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold ;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 20px;
 }
 .formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1) ;
 }
 .formulario__mensaje-exito{
    font-size: 24px;
    color: #119200;
    display: none;
 }
 .formulario__mensaje-exito-activo{
    display: block;
 }
 
 /* Estilos para validación */
 .formulario__grupo-correcto .formulacion__validacion-estado{
    color: #1ed12d;
    opacity: 1;
 }
 .formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
 }
 .formulario__grupo-incorrecto .formulacion__validacion-estado{
    color: #bb2929;
    opacity: 1;
 }
 .formulario__grupo-incorrecto .formulario__input{
   border: 3px solid #bb2929;
 }
 